<%= form_for(@foodorder) do |f| %>
  <% if @foodorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foodorder.errors.count, "error") %> prohibited this foodorder from being saved:</h2>

      <ul>
      <% @foodorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
