<%= form_for(@user_1) do |f| %>
  <% if @user_1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_1.errors.count, "error") %> prohibited this user_1 from being saved:</h2>

      <ul>
      <% @user_1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
